<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 accountPage">
			<h2>Link your bank account to recieve payment for your photos</h2>

			<%= form_tag user_banks_path do %>
			<div class="bankform">
				<p>
					<%= label_tag(:account_number) %>
					<br>
					<%= text_field_tag(:account_number) %>
				</p>
				<p>
					<%= label_tag(:account_type) %>
					<br>
					<%= text_field_tag(:account_type, "Checking", disabled: true) %>
				</p>
				<p>
					<%= label_tag(:name) %>
					<br>
					<%= text_field_tag(:name, "#{@user.firstname} #{@user.lastname}", disabled: true) %>
				</p>
				<p>
					<%= label_tag(:routing_number) %>
					<br>
					<%= text_field_tag(:routing_number) %>
				</p>
			</div>
			<p>
				<%= submit_tag("Confirm", class: "btn btn-primary") %>
			</p>
			<% end %>
		</div>
	</div>
</div>