<h2>Link your bank account to your account to recieve payment for your photos</h2>

<%= form_tag user_banks_path do %>

	<p>
	  <%= label_tag(:account_number) %>
	  <%= text_field_tag(:account_number) %>
	</p>
	<p>
	  <%= label_tag(:account_type) %>
	  <%= text_field_tag(:account_type, "Checking", disabled: true) %>
	</p>
	<p>
	  <%= label_tag(:name) %>
	  <%= text_field_tag(:name, "#{@user.firstname} #{@user.lastname}", disabled: true) %>
	</p>
	<p>
	  <%= label_tag(:routing_number) %>
	  <%= text_field_tag(:routing_number) %>
	</p>
	<p>
	  <%= submit_tag("Confirm", class: "btn btn-primary") %>
	</p>
	<% end %>