<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 accountPage">
			<h1>New Order</h1>

			<% if @buyer.cards.empty?  %>

			<%= form_tag photo_orders_path do %>

			<p>
				<%= label_tag(:number) %>
				<%= text_field_tag(:number) %>
			</p>
			<p>
				<%= label_tag(:expiration_month) %>
				<%= text_field_tag(:expiration_month) %>
			</p>
			<p>
				<%= label_tag(:expiration_year) %>
				<%= text_field_tag(:expiration_year) %>
			</p>
			<p>
				<%= label_tag(:cvv) %>
				<%= text_field_tag(:cvv) %>
			</p>
			<p>
				<%= submit_tag("Confirm", class: "btn btn-primary") %>
			</p>
			<% end %>

			<% end %>
		</div>
	</div>
</div>