




<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#portrait" aria-controls="portrait" role="tab" data-toggle="tab">Portrait</a></li>
    <li role="presentation"><a href="#bw" aria-controls="bw" role="tab" data-toggle="tab">Black and White</a></li>
    <li role="presentation"><a href="#landscape" aria-controls="landscape" role="tab" data-toggle="tab">Landscape</a></li>
    <li role="presentation"><a href="#abstract" aria-controls="abstract" role="tab" data-toggle="tab">Abstract</a></li>
  </ul>

  <div class="tab-content">








    <div role="tabpanel" class="tab-pane active fade" id="portrait">
      <% @portraits.each_with_index do |p, index| %>

        <% if index == 0 %>

          <div class="row text-center rc">
            <div class="col-sm-4">
              <%= link_to image_tag("#{p.url}-/resize/300x/"), "##{p.id}", class: "fancybox" %>
              <div style="display:none;">
                  <div id=<%=p.id%> class="text-center" >
                  <%=image_tag("#{p.url}-/resize/800x/")%>
                  <br>
                  <%= link_to "More Info", user_photo_path(p.user_id,p.id), class:"btn btn-success" %>
                  </div>
              </div>
            </div>

        <% elsif index % 9 == 0 %>

          </div>

        <% elsif index % 3 == 0 %>

          </div>
          <div class="row text-center rc">
            <div class="col-sm-4">
              <%= link_to image_tag("#{p.url}-/resize/300x/"), "##{p.id}", class: "fancybox" %>
              <div style="display:none;">
                  <div id=<%=p.id%> class="text-center" >
                  <%=image_tag("#{p.url}-/resize/800x/")%>
                  <br>
                  <%= link_to "More Info", user_photo_path(p.user_id,p.id), class:"btn btn-success" %>
                  </div>
              </div>
            </div>

        <% else %>

            <div class="col-sm-4">
              <%= link_to image_tag("#{p.url}-/resize/300x/"), "##{p.id}", class: "fancybox" %>
              <div style="display:none;">
                  <div id=<%=p.id%> class="text-center" >
                  <%=image_tag("#{p.url}-/resize/800x/")%>
                  <br>
                  <%= link_to "More Info", user_photo_path(p.user_id,p.id), class:"btn btn-success" %>
                  </div>
              </div>
            </div>

        <% end %> 
      <% end %>

    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="bw">
      Two
    </div>
    <div role="tabpanel" class="tab-pane fade" id="landscape">three</div>
    <div role="tabpanel" class="tab-pane fade" id="abstract">four</div>
  </div>
</div>




<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })




  $(document).ready(function() {
  $("a.fancybox").fancybox();
});
</script>